# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.jsonable_encoder import jsonable_encoder
from ..core.query_encoder import encode_query
from ..core.remove_none_from_dict import remove_none_from_dict
from ..core.request_options import RequestOptions
from ..core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .raw_client import AsyncRawTranslateClient, RawTranslateClient
from .socket_client import AsyncTranslateSocketClient, TranslateSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class TranslateClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTranslateClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawTranslateClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawTranslateClient
        """
        return self._raw_client

    @contextmanager
    def realtime(
        self,
        *,
        authorization: typing.Optional[str] = None,
        target_language: str,
        source_language: typing.Optional[str] = None,
        voice_id: str,
        input_format: typing.Optional[str] = None,
        output_format: typing.Optional[str] = None,
        tts_model_id: typing.Optional[str] = None,
        client_session_id: typing.Optional[str] = None,
        enable_zrm: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[TranslateSocketClient]:
        """
        The Realtime Translate WebSocket API streams translation audio continuously to a target language given source audio.

        Parameters
        ----------
        authorization : typing.Optional[str]
            Your authorization bearer token.

        target_language : str
            Target language as an ISO 639 code (e.g. de, es, fr, zh).

        source_language : typing.Optional[str]
            Source language as an ISO 639 code. When omitted the server auto-detects the spoken language.

        voice_id : str
            Voice ID used for the translated speech output.

        input_format : typing.Optional[str]
            Audio encoding format for realtime translation input.

        output_format : typing.Optional[str]
            Audio encoding format for realtime translation output.

        tts_model_id : typing.Optional[str]
            TTS model used to synthesize the translated speech.

        client_session_id : typing.Optional[str]
            Optional client-defined session identifier for tracking purposes.

        enable_zrm : typing.Optional[str]
            When enable_zrm is set to true, zero retention mode will be used for the request. Sensitive content (transcripts, translations, and TTS text) is not written to application logs or session history. Zero retention mode may only be used by enterprise customers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TranslateSocketClient
        """
        ws_url = (
            # Manual fix for a fern-python-sdk bug: websockets rejects the
            # http(s) scheme of the base URL. Carried forward by fern-replay
            # until the generator is fixed upstream.
            self._raw_client._client_wrapper.get_base_url().replace("http://", "ws://", 1).replace("https://", "wss://", 1)
            + "/v1/translate/realtime"
        )
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "authorization": authorization,
                        "target_language": target_language,
                        "source_language": source_language,
                        "voice_id": voice_id,
                        "input_format": input_format,
                        "output_format": output_format,
                        "tts_model_id": tts_model_id,
                        "client_session_id": client_session_id,
                        "enable_zrm": enable_zrm,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield TranslateSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncTranslateClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTranslateClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawTranslateClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawTranslateClient
        """
        return self._raw_client

    @asynccontextmanager
    async def realtime(
        self,
        *,
        authorization: typing.Optional[str] = None,
        target_language: str,
        source_language: typing.Optional[str] = None,
        voice_id: str,
        input_format: typing.Optional[str] = None,
        output_format: typing.Optional[str] = None,
        tts_model_id: typing.Optional[str] = None,
        client_session_id: typing.Optional[str] = None,
        enable_zrm: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[AsyncTranslateSocketClient]:
        """
        The Realtime Translate WebSocket API streams translation audio continuously to a target language given source audio.

        Parameters
        ----------
        authorization : typing.Optional[str]
            Your authorization bearer token.

        target_language : str
            Target language as an ISO 639 code (e.g. de, es, fr, zh).

        source_language : typing.Optional[str]
            Source language as an ISO 639 code. When omitted the server auto-detects the spoken language.

        voice_id : str
            Voice ID used for the translated speech output.

        input_format : typing.Optional[str]
            Audio encoding format for realtime translation input.

        output_format : typing.Optional[str]
            Audio encoding format for realtime translation output.

        tts_model_id : typing.Optional[str]
            TTS model used to synthesize the translated speech.

        client_session_id : typing.Optional[str]
            Optional client-defined session identifier for tracking purposes.

        enable_zrm : typing.Optional[str]
            When enable_zrm is set to true, zero retention mode will be used for the request. Sensitive content (transcripts, translations, and TTS text) is not written to application logs or session history. Zero retention mode may only be used by enterprise customers.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncTranslateSocketClient
        """
        ws_url = (
            # Manual fix for a fern-python-sdk bug: websockets rejects the
            # http(s) scheme of the base URL. Carried forward by fern-replay
            # until the generator is fixed upstream.
            self._raw_client._client_wrapper.get_base_url().replace("http://", "ws://", 1).replace("https://", "wss://", 1)
            + "/v1/translate/realtime"
        )
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "authorization": authorization,
                        "target_language": target_language,
                        "source_language": source_language,
                        "voice_id": voice_id,
                        "input_format": input_format,
                        "output_format": output_format,
                        "tts_model_id": tts_model_id,
                        "client_session_id": client_session_id,
                        "enable_zrm": enable_zrm,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncTranslateSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
