# This file was auto-generated by Fern from our API Definition.

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.jsonable_encoder import jsonable_encoder
from ..core.query_encoder import encode_query
from ..core.remove_none_from_dict import remove_none_from_dict
from ..core.request_options import RequestOptions
from ..core.websocket_compat import InvalidWebSocketStatus, get_status_code
from .raw_client import AsyncRawTextToSpeechMultiContextClient, RawTextToSpeechMultiContextClient
from .socket_client import AsyncTextToSpeechMultiContextSocketClient, TextToSpeechMultiContextSocketClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class TextToSpeechMultiContextClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTextToSpeechMultiContextClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawTextToSpeechMultiContextClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawTextToSpeechMultiContextClient
        """
        return self._raw_client

    @contextmanager
    def realtime(
        self,
        voice_id: str,
        *,
        authorization: typing.Optional[str] = None,
        single_use_token: typing.Optional[str] = None,
        model_id: typing.Optional[str] = None,
        language_code: typing.Optional[str] = None,
        enable_logging: typing.Optional[str] = None,
        output_format: typing.Optional[str] = None,
        inactivity_timeout: typing.Optional[str] = None,
        sync_alignment: typing.Optional[str] = None,
        auto_mode: typing.Optional[str] = None,
        apply_text_normalization: typing.Optional[str] = None,
        seed: typing.Optional[str] = None,
        enable_ssml_parsing: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[TextToSpeechMultiContextSocketClient]:
        """
        The Multi-Context Text-to-Speech WebSockets API allows for generating audio from text input
        while managing multiple independent audio generation streams (contexts) over a single WebSocket connection.
        This is useful for scenarios requiring concurrent or interleaved audio generations, such as dynamic
        conversational AI applications.

        Each context, identified by a context id, maintains its own state. You can send text to specific
        contexts, flush them, or close them independently. A `close_socket` message can be used to terminate
        the entire connection gracefully.

        For more information on best practices for how to use this API, please see the [multi context websocket guide](/docs/eleven-api/guides/how-to/websockets/multi-context-web-socket).

        Parameters
        ----------
        voice_id : str
            The unique identifier for the voice to use in the TTS process.

        authorization : typing.Optional[str]
            Your authorization bearer token.

        single_use_token : typing.Optional[str]
            Your single use token. Use this if you want to initiate a session from the client. When providing this parameter, xi-api-key is no longer required for authentication.

        model_id : typing.Optional[str]
            Identifier of the model that will be used, you can query them using GET /v1/models.

        language_code : typing.Optional[str]
            Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.

        enable_logging : typing.Optional[str]
            When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.

        output_format : typing.Optional[str]
            Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.

        inactivity_timeout : typing.Optional[str]
            The number of seconds that the connection can be inactive before it is automatically closed.

            The default timeout is set to 20, with a maximum allowed value of 180.

        sync_alignment : typing.Optional[str]
            Sync the text alignment to every returned response

        auto_mode : typing.Optional[str]
            Whether to use auto mode for this request. This setting focuses on reducing the latency by disabling the chunk schedule and all buffers. It is only recommended when sending full sentences, sending partial sentences will result in highly reduced quality.

        apply_text_normalization : typing.Optional[str]
            This parameter controls text normalization with three modes: 'auto', 'on', and 'off'. When set to 'auto', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With 'on', text normalization will always be applied, while with 'off', it will be skipped.

        seed : typing.Optional[str]
            If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed.

        enable_ssml_parsing : typing.Optional[str]
            Whether to enable/disable parsing of SSML tags within the provided text. For best results, we recommend sending SSML tags as fully contained messages to the websockets endpoint, otherwise this may result in additional latency. Please note that rendered text, in normalizedAlignment, will be altered in support of SSML tags. The rendered text will use a . as a placeholder for breaks, and syllables will be reported using the CMU arpabet alphabet where SSML phoneme tags are used to specify pronunciation. IMPORTANT: When using phoneme-based pronunciation dictionaries (IPA/CMU), SSML parsing is automatically enabled if this parameter is not set. Setting this to false with phoneme dictionaries is deprecated and will be ignored in a future release, as phoneme dictionaries require SSML parsing to work correctly.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TextToSpeechMultiContextSocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_base_url() + "/v1/text-to-speech/"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "authorization": authorization,
                        "single_use_token": single_use_token,
                        "model_id": model_id,
                        "language_code": language_code,
                        "enable_logging": enable_logging,
                        "output_format": output_format,
                        "inactivity_timeout": inactivity_timeout,
                        "sync_alignment": sync_alignment,
                        "auto_mode": auto_mode,
                        "apply_text_normalization": apply_text_normalization,
                        "seed": seed,
                        "enable_ssml_parsing": enable_ssml_parsing,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield TextToSpeechMultiContextSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )


class AsyncTextToSpeechMultiContextClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTextToSpeechMultiContextClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawTextToSpeechMultiContextClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawTextToSpeechMultiContextClient
        """
        return self._raw_client

    @asynccontextmanager
    async def realtime(
        self,
        voice_id: str,
        *,
        authorization: typing.Optional[str] = None,
        single_use_token: typing.Optional[str] = None,
        model_id: typing.Optional[str] = None,
        language_code: typing.Optional[str] = None,
        enable_logging: typing.Optional[str] = None,
        output_format: typing.Optional[str] = None,
        inactivity_timeout: typing.Optional[str] = None,
        sync_alignment: typing.Optional[str] = None,
        auto_mode: typing.Optional[str] = None,
        apply_text_normalization: typing.Optional[str] = None,
        seed: typing.Optional[str] = None,
        enable_ssml_parsing: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[AsyncTextToSpeechMultiContextSocketClient]:
        """
        The Multi-Context Text-to-Speech WebSockets API allows for generating audio from text input
        while managing multiple independent audio generation streams (contexts) over a single WebSocket connection.
        This is useful for scenarios requiring concurrent or interleaved audio generations, such as dynamic
        conversational AI applications.

        Each context, identified by a context id, maintains its own state. You can send text to specific
        contexts, flush them, or close them independently. A `close_socket` message can be used to terminate
        the entire connection gracefully.

        For more information on best practices for how to use this API, please see the [multi context websocket guide](/docs/eleven-api/guides/how-to/websockets/multi-context-web-socket).

        Parameters
        ----------
        voice_id : str
            The unique identifier for the voice to use in the TTS process.

        authorization : typing.Optional[str]
            Your authorization bearer token.

        single_use_token : typing.Optional[str]
            Your single use token. Use this if you want to initiate a session from the client. When providing this parameter, xi-api-key is no longer required for authentication.

        model_id : typing.Optional[str]
            Identifier of the model that will be used, you can query them using GET /v1/models.

        language_code : typing.Optional[str]
            Language code (ISO 639-1) used to enforce a language for the model and text normalization. If the model does not support the provided language code, it will be ignored. This parameter is not supported for multilingual_v2 models.

        enable_logging : typing.Optional[str]
            When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.

        output_format : typing.Optional[str]
            Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.

        inactivity_timeout : typing.Optional[str]
            The number of seconds that the connection can be inactive before it is automatically closed.

            The default timeout is set to 20, with a maximum allowed value of 180.

        sync_alignment : typing.Optional[str]
            Sync the text alignment to every returned response

        auto_mode : typing.Optional[str]
            Whether to use auto mode for this request. This setting focuses on reducing the latency by disabling the chunk schedule and all buffers. It is only recommended when sending full sentences, sending partial sentences will result in highly reduced quality.

        apply_text_normalization : typing.Optional[str]
            This parameter controls text normalization with three modes: 'auto', 'on', and 'off'. When set to 'auto', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With 'on', text normalization will always be applied, while with 'off', it will be skipped.

        seed : typing.Optional[str]
            If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed.

        enable_ssml_parsing : typing.Optional[str]
            Whether to enable/disable parsing of SSML tags within the provided text. For best results, we recommend sending SSML tags as fully contained messages to the websockets endpoint, otherwise this may result in additional latency. Please note that rendered text, in normalizedAlignment, will be altered in support of SSML tags. The rendered text will use a . as a placeholder for breaks, and syllables will be reported using the CMU arpabet alphabet where SSML phoneme tags are used to specify pronunciation. IMPORTANT: When using phoneme-based pronunciation dictionaries (IPA/CMU), SSML parsing is automatically enabled if this parameter is not set. Setting this to false with phoneme dictionaries is deprecated and will be ignored in a future release, as phoneme dictionaries require SSML parsing to work correctly.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncTextToSpeechMultiContextSocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_base_url() + "/v1/text-to-speech/"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "authorization": authorization,
                        "single_use_token": single_use_token,
                        "model_id": model_id,
                        "language_code": language_code,
                        "enable_logging": enable_logging,
                        "output_format": output_format,
                        "inactivity_timeout": inactivity_timeout,
                        "sync_alignment": sync_alignment,
                        "auto_mode": auto_mode,
                        "apply_text_normalization": apply_text_normalization,
                        "seed": seed,
                        "enable_ssml_parsing": enable_ssml_parsing,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncTextToSpeechMultiContextSocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )
